{% extends "layout.twig" %}

{% block content %}
{# <?php if(isset($_GET['id'])): ?>
  <?php $id = $_GET['id'] ?>
  <?php $cek =  cekId($_GET['id'],$portofolio) ?>
  <?php if($cek == true) :?> #}
  {% if cek == true %}
    <div class="bg-gray-200" >
      <div class="container" >
        <!-- Desc Start -->
        <div class="p-5 " >
          <div class="bg-gray-50 shadow-md rounded-md p-2" >
            <h1 class="text-2xl  md:text-3xl px-2 border-b-2 border-gray-600 w-2/5 md:w-2/6" > {{ judul }}</h1>
            <p class="text-xl p-2 capitalize" > {{desc}}</p>
            <p class="capitalize px-2" >dibangun pada tahun : {{tahun}}</p>
          </div>
        </div>
        <!-- Desc End -->
        <div class="flex flex-col md:flex-row" >
          <div class=" flex-auto " >
            <!-- Preview -->
            <div class="bg-gray-300 shadow-inner md:my-8 my-2 mx-2 md:mx-8 rounded-md p-5  " >
              <img src="assets/{{ main_image }}" class="flex-1" alt="">
              <div class="flex-1 grid gap-3 md:grid-cols-2 md:my-1" >
                {% for pict in image %}
                  <img src="assets/{{ pict }}" class="md:py-1 py-1" alt="">
                {% endfor %}
              </div>
            </div>
              <!-- Preview -->
              <!-- Modal Start -->
            <div id="modal" class=" hidden fixed  z-50 w-full h-full top-0 left-0 text-center bg-black bg-opacity-60 transition-all ease-in-out duration-500  " >
            <button class=" border bg-red-500  border-red-500 rounded-md p-1 " onclick="tutup('modal')">Close</button>
              
              <!-- Swiper -->
              {% include "carousel.twig" %}
            </div>
              <!-- Modal end -->
          </div>
          <div class="flex-1 p-7" >
          <div class="flex md:flex-row flex-col " >
            <button onclick="showModal('modal')" class="bg-green-500 rounded-md m-2 p-2 text-center hover:bg-green-400" >Galeri</button>
            <a href="<?= $portofolio[$id]['link'] ?>" class=" bg-yellow-400 rounded-md m-2 p-2 text-center" target="blank" >
              <button  >Kunjungi</button>
            </a>
            <button class=" bg-blue-400 rounded-md m-2 p-2 text-center" onclick="kembali()" >Kembali</button>
          </div>
          </div>
        </div>
      </div>
    </div>

{% else %}
  <h1 class="text-2xl  md:text-3xl px-2 border-b-2 border-gray-600 w-2/5 md:w-2/6" > Portofolio Tidak ditemukan </h1>

  


{% endif %}
{% endblock %}
