{% extends "layout.twig" %} 

{% set shadow_class = "transition duration-300 ease-in-out hover:bg-white rounded-md hover:shadow-xl" %}

{% block content %}
    <div class="bg-gray-100 ">
        <!-- Navbar Starts -->
        {% include "navbar.twig" %}
        <!-- Navbar end -->
        <!-- Container start -->
        <div class="container container md:mx-auto ">
            <!-- Bio Start -->
            <div class=" inline-block ">
                <div id="Profil" class="{{shadow_class}}  my-8 bg-gray-100 py-6 ">
                    <img class="rounded-full w-44 border-2 border-gray-200 mx-auto " src="assets/profile.jpg" alt="Profil-Img">
                    <h4 class="text-2xl font-sans text-center">Ainurahman</h4>
                </div>
                <div class="transition duration-500 ease-in-out py-8 rounded-md hover:shadow-lg capitalize hover:bg-white bg-gray-100 ">
                    <p class="font-mono px-4"><span class="px-4"></span> {{bio}}
                    </p>
                </div>
            </div>
            <!-- Bio end -->

            <!-- Skill Start-->
            <div class="transition duration-300 ease-in-out  py-12 my-12 bg-gray-100 hover:bg-white hover:shadow-md rounded-md">
                <div class="text-center text-3xl border-b-2 px-4 border-gray-600">My-Skills</div>
                <div class=" grid md:grid-cols-2">
                    {% for skill in keahlian %}
                        <div class="text-xl p-2">
                            {{skill.bahasa}}:</div>
                        <div class="rounded-md w-full px-4">
                            <div style="width:{{skill.value}}%;background:{{skill.color}}" class="rounded-md text-black p-2">
                                {{skill.value}}%
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Skill end -->

            <!-- Education Start -->
            <div class="transition duration-300 ease-in-out hover:shadow-md my-12 bg-gray-100 hover:bg-white rounded-md">
                <div class="text-center text-3xl border-b-2  border-gray-600">Pendidikan</div>
                <div class="grid grid-cols-2">
                    {% for edu in pendidikan %}
                        <div class="m-2 p-2 ">{{edu.tahun}}:</div>
                        <div class="m-2 p-2">
                            {{edu.sekolah}}
                        </div>
                    {% endfor %}
                </div>
                <!-- Education End -->
            </div>


            <!-- Portofolio start -->
            <div class="h-auto p-4 ease-in-out shadow-inner my-12 bg-gray-200  rounded-md">
                <div class="border-b-2 text-left text-2xl  border-gray-600">Portofolio</div>
                <div class="flex md:flex-row flex-col">
                    {% for exp in portofolio %}
                        <div class="group transition duration-300 bg-gray-100 mx-4 my-4 hover:shadow-md hover:bg-white rounded-md ">
                            <div class="flex flex-col">
                                <div class="border-b-2 border-gray-600 py-2 my-4 mx-auto text-3xl">
                                    <p class="text-center"></p>
                                    {{exp.judul}}
                                </div>
                                <div class="bg-black">
                                    <!-- agar gambar menjadi gelap sebelum di hover -->
                                    <img class="transition-opacity duration-500 ease-out w-auto h-auto opacity-75 group-hover:opacity-100" src="assets/{{exp.img}}" alt="{{exp.img}}">
                                </div>
                            </div>
                            <div class="flex flex-col my-4 py-2">
                                <button onclick="showModal('{{exp.id}}')" class="bg-green-500 rounded-md m-2 p-2 text-center hover:bg-green-400 trigger">Galeri</button>
                                <a class="bg-blue-500 rounded-md m-2 p-2 text-center hover:bg-blue-400" href="{{exp.link}}" target="_blank">
                                        kunjungi
                                    </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Modal Start -->
                {% for porto in portofolio %}
                    <div id="{{porto.id}}" class=" hidden fixed  z-50 w-full h-full top-0 left-0 text-center bg-black bg-opacity-60 transition-all ease-in-out duration-500 ">
                        <!-- Carousel Start -->
                        <!-- button close -->
                        <button class=" border bg-red-500  border-red-500 rounded-md p-1 " onclick="tutup('{{porto.id}}')">Close</button>
                        {% set image = porto.imgs|merge([porto.img]) %}
                        <!-- Swiper -->
                        {% include "carousel.twig" %}
                        <!-- Carousel End       -->
                    </div>
                {% endfor %}


                <!-- Modal End -->
            </div>
            <!-- Portofolio End -->


            <!-- Email Start -->
            <div class=" bg-gray-200 shadow-inner h-auto w-auto rounded-md">
                <div class="text-left border-b-2 py-2 px-2 border-gray-600 text-2xl ">Email</div>
                {% include "email.twig" %}
                {% if email == true %}
                    {% include "email_modal.twig" %}
                {% endif %}
            </div>
            <!-- Email end -->
        </div>
        <!-- Container end -->
    </div>
{% endblock %}